p {
  color: #777777;
}

.canvas {
  display: inline-block;
  position: relative;
}

#baseImage {
  position: absolute;
  z-index: 0;
}

#preCanvas {
  overflow: hidden;
  position: relative;
  background-color: #122343;
  background-size: cover;
}

.frame {
  position: inherit;
  z-index: 1;
}

.button {
  margin-right: 10px;
}

#student-id {
  color: aliceblue;
  display: block;
  text-align: center;
  font-family: monospace;
  font-size: 40px;
  position: absolute;
  bottom: 27px;
  text-indent: 30px;
  z-index: 3;
  background: none;
  -ms-transform: rotate(11deg);
  -webkit-transform: rotate(11deg);
  transform: rotate(11deg);
  text-shadow: 0 0 4px #212121;
  font-weight: 700;
}

canvas {
  display: inline-block;
  width: 100%;
  height: auto;
}